{% extends 'base.html.twig' %}

{% block title %}
    Création d'un coin !
{% endblock %}

{% block body %}
    <div>
        {{ form_start(coinForm) }}

        {{ form_widget(coinForm) }}

        <button>Create !</button>

        {{ form_end(coinForm) }}
    </div>

{% endblock %}