{% extends 'base.html.twig' %}

{% block title %}
    Ajouter une transaction
{% endblock %}

{% block body %}
<section class="bg-neutral-300 p-4 lg:px-8">
    <div class="container mx-auto">
        <h1 class="text-gray-700 text-2xl font-bold mb-4">Ajouter une transaction</h1>

        {{ form_errors(transactionForm) }}

        {{ form_start(transactionForm) }}

        {{ form_widget(transactionForm) }}

        <button type="submit" class="bg-neutral-400 hover:bg-neutral-600 text-white font-bold py-2 px-4 rounded">
            Valider
        </button>
    </div>

    {{ form_end(transactionForm) }}
</section>
{% endblock %}
